{% extends 'account/base.html.twig' %}

{% block account_content %}
    <h2 class="da-account-title">Moje szkolenia</h2>
    
   <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;">
        {% for i in 1..4 %}
        <div class="training-card">
            <div class="training-image">
                <img src="{{ asset('build/images/back-onas.jpg') }}" alt="Szkolenie">
                <div class="training-check">
                    <i class="fa fa-check"></i>
                </div>
            </div>
            
            
            <div class="training-content">
                <h4 class="training-subtitle">TRENING ASERTYWNOŚCI</h4>

                <p class="training-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                </p>
                <a href="#" class="training-button">
                    OBEJRZYJ SZKOLENIE <i class="fa fa-play"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

